Source: shannon
Section: kernel
Priority: optional
Maintainer: Yan Gao <gaoyan@shannon-data.com>
Build-Depends: bzip2,
               debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.shannon-sys.com

Package: shannon-module-2.6.32-38-server
Architecture: amd64
Provides: shannon-module
Conflicts: shannon-raid
Description: Driver for PCIe SSD of Shannon Systems
